body {
  font-family: 'Roboto', sans-serif;
}

.player-tables table {
  width: 100%;
  table-layout: fixed;
}

.player-tables table tr:nth-child(even) {
  background-color: #eee;
}

.player-tables table tr.table-heading th {
  background-color: transparent;
  padding: 5px 10px;
}

.player-tables table tr {
  position: relative;
}

.player-tables table tr .fa-exclamation-triangle {
  position: relative;
  float: right;
  margin-top: 3px;
  z-index: 100;
}

.player-tables table tr .player-status {
  display: none;
  position: absolute;
  color: #fff;
  right: 15px;
  left: 15px;
  padding: 5px;
  margin-top: -5px;
  text-align: center;
  z-index: 99;
}

.player-tables table tr .player-status.show-inline {
  display: inline;
}

.player-tables table tr.unavailable {
  cursor: pointer;
}

.player-tables table tr.unavailable .fa-exclamation-triangle {
  color: #DB0100;
}

.player-tables table tr.unavailable .player-status {
  background-color: #DB0100;
}

.player-tables table tr.unavailable.show-data .fa-exclamation-triangle {
  color: #fff;
}

.player-tables table tr.unavailable.show-data .player-status {
  display: inline-block;
}

.player-tables table tr.injured {
  cursor: pointer;
}

.player-tables table tr.injured .fa-exclamation-triangle {
  color: #FFCC00;
}

.player-tables table tr.injured .player-status {
  background-color: #FFCC00;
  color: #494846;
}

.player-tables table tr.injured.show-data .fa-exclamation-triangle {
  color: #494846;
}

.player-tables table tr.injured.show-data .player-status {
  display: inline-block;
}

.player-tables table td {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
